<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      Pantry is an app designed to organize your kitchen.  It helps you keep track of what you have, what you need, and suggests recipes based on the current state of your refrigerator.
    </p>
