<% provide(:title, @title) %>
<h3><%= @title %></h3>
<div class="container bootstrap snippet">
  <%= render @stocks %>
</div>


<!-- <div class="container bootstrap snippet">
    <div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <strong>Broccoli</strong> 
    </div>
    <div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <strong>Cereal</strong> 
    </div>  
    <div class="alert alert-warning alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-warning"></i>
        </div>
        <strong>Flour</strong> 
    </div>     
    <div class="alert alert-danger alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-times-circle"></i>
        </div>
        <strong>Yogurt</strong> 
    </div>    
</div> -->

<script>
$(document).ready(function(){
  $(".toggle").click(function(){
    $.ajax({
      type: "POST",
      url: "/stocks/" + event.target.id + "/toggle",
      });
   });
  $(".refill").click(function(){
    $.ajax({
      type: "POST",
      url: "/stocks/" + event.target.id + "/refill",
      });
   });
  $(".delete").click(function(){
    var el = $('.stock' + event.target.id);
    $.ajax({
      type: "DELETE",
      url: "/stocks/" + event.target.id,
      success: function(data){
        el.remove();
      }
      });
   });
});
</script>

