<% provide(:title, @title) %>
<h3><%= @title %></h3>
<br>
<div class="container bootstrap snippet">
  <%= render @stocks %>
</div>


<!-- <div class="container bootstrap snippet">
    <div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <strong>Broccoli</strong> 
    </div>
    <div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <strong>Cereal</strong> 
    </div>  
    <div class="alert alert-warning alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-warning"></i>
        </div>
        <strong>Flour</strong> 
    </div>     
    <div class="alert alert-danger alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-times-circle"></i>
        </div>
        <strong>Yogurt</strong> 
    </div>    
</div> -->

<script>
$(document).ready(function(){
  $(".toggle").click(function(){
    var el = $('.stock' + $(this).attr('id'));
    var el2 = $('.icon' + $(this).attr('id'));
    $.ajax({
      type: "POST",
      url: "/stocks/" + $(this).attr('id') + "/toggle",
      success: function(data){
        if (el.children().first().hasClass('alert-warning')) {
          el.children().first().addClass('alert-danger').removeClass('alert-warning');
          el2.children().first().addClass('fa-times-circle').removeClass('fa-warning');
        }
        else if (el.children().first().hasClass('alert-success')){
          el.children().first().addClass('alert-warning').removeClass('alert-success');
          el2.children().first().addClass('fa-warning').removeClass('fa-check');
        }
      }
      });
   });
  $(".refill").click(function(){
    var el = $('.stock' + $(this).attr('id'));
    var el2 = $('.icon' + $(this).attr('id'));
    $.ajax({
      type: "POST",
      url: "/stocks/" + $(this).attr('id') + "/refill",
      success: function(data){
        el.children().first().addClass('alert-success').removeClass('alert-danger alert-warning');
        el2.children().first().addClass('fa-check').removeClass('fa-warning fa-times-circle');       
      }
      });
   });
  $(".delete").click(function(){
    var el = $('.stock' + $(this).attr('id'));
    $.ajax({
      type: "DELETE",
      url: "/stocks/" + $(this).attr('id'),
      success: function(data){
        el.remove();
      }
      });
   });
});
</script>

