<% provide(:title, 'Add Ingredients') %>
<h1>Add Ingredients</h1>

<ul class="users">
	<%= render @ingredients %>
</ul>


<script>
$(document).ready(function(){
  $("a").click(function(){
  	var el = $('.ingredient' + event.target.id);
    $.ajax({
    	type: "POST",
    	url: "stocks/create",
    	data: { id: event.target.id},
    	success: function(data){
    		el.remove();
    	}
      });
   });
});
</script>



